body{
	background-color:yellow;
	text-align: center;
}
/* Styling for Flowers Photos Section */
#f1 {
  font-size: 2em;
  color: green;
}

div p {
  font-size: 1.2em;
  color: black;
}

/* Styling for Roses Pictures Section */
#f2 {
  font-size: 2em;
  color: red;
}
